.book-1{
    height: 52px;
    padding: 3px 5px;
}
.log-1 a:hover{
    color: blue;
}
#log-2 li a:hover{
    color: blue;
}
.log-3:hover{
    text-shadow: 0px 3px 13px rgba(14, 181, 255, 0.41);
    color: blue;
}
.Cardio-1{
    display: flex;
    width: 90%;
    margin: auto;
}
.card{
    margin: 8px 10px;
}
.card-body{
    border: 1px solid black;
    border-radius: 5px;
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background: #f5f5f5;
}
.booklogo-1{
    width: 16%;
    margin: 5px auto;
    background: -webkit-linear-gradient(rgb(34, 30, 247), rgb(35, 199, 240));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bookie{
    height: 50px;
    margin-bottom: 11px;
}
.name-1{
    width: 30%;
}
.name-2{
    width: 28%;
}
/* Gradient  */
.gradient{
    height: 3px;
    background: rgb(70,233,230);
background: linear-gradient(90deg, rgba(70,233,230,1) 13%, rgba(69,255,89,1) 50%, rgba(250,249,5,1) 81%);
}
.up-1{
    width: 60%;
    margin: 14px auto;
    background: rgb(240,49,228);
background: linear-gradient(90deg, rgba(240,49,228,1) 26%, rgba(68,57,255,1) 50%, rgba(5,250,191,1) 80%);
}
 /* Backgroud  */
 .tip-1{
    background: rgb(240,49,228);
    background: linear-gradient(90deg, rgba(240,49,228,0.33565301120448177) 32%, rgba(5,250,191,0.523328081232493) 80%);
 }
 hr:not([size]) {
    height: 1px;
    margin: 0px;
}